@tailwind base;
@tailwind components;
@tailwind utilities;

ion-icon:hover,
svg:hover,
a:hover {
    opacity: 0.5;
    /*transform: scale(1.2);*/
    transition: 0.3s ease;
}

.cert:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

body {
  text-decoration: none;
  /*color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

    --background-color: #0d0d0d;
  */

  /* IE and Edge 

--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    overflow-x: hidden;
  -ms-overflow-style: none;*/
  /* Firefox 
    scrollbar-width: none;
  */
}
